{% extends "spawn_base.html" %}

{% block main %}
{{super()}}
<div id="loading-container" class="container" style="display: none">
    <div class="row">
        <div class="text-center">
            <p><label>Your notebook is now being started ...</label></p>
        </div>
        <div id='loader'></div>
    </div>
</div>

{% endblock %}


{% block script %}
{{super()}}
<script type="text/javascript">
    $('#spawn-notebook').click(function () {
        $(".container").hide();
        $("#loading-container").show();
    });
</script>
{% endblock %}


{% block stylesheet %}
{{super()}}

<style>
    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #ff9800;
        border-right: 16px solid #9999;
        border-bottom: 16px solid #ff9800;
        border-left: 16px solid #9999;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock %}