{% extends "spawn_pending_base.html" %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="text-center">
            <p><label>Your server is taking quite some time to start.</label>
            </p>
            <p><label>It might be getting a new version of the requested
                notebook</label></p>
        </div>
        <div id="refresh-block" align="center">
            <a role="button" id="refresh" class="btn btn-lg btn-warning"
               href="#">Refresh Page</a>
        </div>
        <div id='loader'></div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    require(["jquery"], function ($) {
        $("#refresh").click(function () {
            window.location.reload();

        });
        setTimeout(function () {
            window.location.reload();
        }, 5000);
    });
</script>
{% endblock %}


{% block stylesheet %}
{{super()}}

<style>
    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #ff9800;
        border-right: 16px solid #9999;
        border-bottom: 16px solid #ff9800;
        border-left: 16px solid #9999;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock %}

